<div id="contacts">
  <h1>Contacts</h1>
  <ul>
    {{#each contacts}}
      <li>
        <span>Name: {{this.name}}</span>
        <br/>
        <span>Phone: {{this.phoneNumber}}</span>
      </li>
    {{/each}}
  </ul>
</div>