{
  "env": {
    "test": {
      "plugins": [ "istanbul"]
    }
  },
  "presets": [
    "es2015"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-class-properties",
    "dynamic-import-webpack"
  ]
}
