#left {
  width: 100%;
  padding: 0 5%;
  font-family: "Trebuchet MS", OpenSans, Helvetica, Arial, sans-serif;

  h1 {
    font-family: "Trebuchet MS", OpenSans-Light, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 42pt;
    color: #5e5e5e;
  }

  p {
    font-size: 16pt;
    color: #999999;
  }

  .notification-form {
    background: lightgrey;
    padding: 20px;

    label {
      display: block;
      font-weight: bold;
      color: black;
    }

    p {
      color: black;
      font-size: 30px;
      margin: 0;
    }
  }
}

#right {
  margin-top: 60px;
  width: 100%;
}
