#left {
    float:left;
    width: 100%;
    margin-left: 5%;
    font-family: OpenSans, Helvetica, Arial, sans-serif;

    h1 {
        font-family: OpenSans-Light, Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 42pt;
        color: #5e5e5e;
    }

    p {
        font-size: 16pt;
        color: #999999;
    }
}

#right {
    float:right;
    margin-right: 15%;
}
