<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LevelUp Watch Edition</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="left">
      <h1>LevelUp Watch Edition</h1>

      <p>This is LevelUp Watch Edition sample app.</p>

      <form class="notification-form" id="notification-form"/>
    </div>

    <div id="right">
      <div class="watch-placeholder">
        <div class="watch">
          <div class="strap strap-top">
          </div>
          <div id="watch-wrapper">
            <div id="watch" class="case">
              <div id="button-right" class="power"></div>
              <div id="button-left" class="power"></div>
              <div id="button-bottom" class="power"></div>
              <div id="button-top" class="power"></div>
              <div id="watch-face" class="screen"></div>
              <div id="notification-container" hidden>
                <div id="notification-message-display"></div>
                <div id="notification-buttons">
                  <div id="notification-button-okay" class="notification-button">OK</div>
                </div>
              </div>
            </div>
          </div>
          <div class="strap strap-bottom">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
