<div id="watch-face">WATCH FACE!</div>

<button class="watch-button" type="button" id="a">a</button>
<button class="watch-button" type="button" id="b">b</button>
<button class="watch-button" type="button" id="c">c</button>
<button class="watch-button" type="button" id="d">d</button>
<button class="watch-button" type="button" id="e">e</button>
