<p class="notification_title">Send notification</p>
<div class="form-group">
    <label>Action on notification</label>
    <select name="notification_action"></select>
</div>
<div class="form-group">
    <label>Notification message</label>
    <textarea name="notification_message" maxlength="200"></textarea>
</div>
<button type="button" id="button-sendNotification">Send</button>
