<div class="notification-message-display">{{message}}</div>
<div class="navigation-button-left" class="navigation-buttons">OK</div>
<div class="navigation-button-right" class="navigation-buttons">Cancel</div>
