<div id="button-right" class="power"></div>
<div id="button-left" class="power"></div>
<div id="button-bottom" class="power"></div>
<div id="button-top" class="power"></div>
<div id="watch-face" class="screen"></div>
