@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(/fonts/OpenSans-Bold.ttf);
}
